*{box-sizing: border-box;}

.container-login{
    width: 800px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-inBt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 200px;
    padding: 10px;
    border: 1px solid rgb(224, 222, 222);
    height: 400px;
    border-radius: 10px;
}
.in2{
    background-color: black;
   border: none;
   color: white;
   width: 100%;
   padding: 15px;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    border-left: 0.1px solid gray;
    border-right: 0.1px solid gray;
    border-bottom: 0.1px solid gray;
    outline: none;                /* מבטל את הקו הכחול של הדפדפן */
  transition: border 0.01s, box-shadow 0.01s;
}
.in1{
    width: 100%;
     margin-top: 5px;
    background-color: black;
  border: 0.1px solid gray;
  padding: 15px;
  border-top-left-radius:5px ;
  border-top-right-radius:5px ;
    outline: none;                /* מבטל את הקו הכחול של הדפדפן */
  transition: border 0.01s, box-shadow 0.01s;
  color: #ffffff;
}
.in1:focus {
  border: 0.9px solid #ffffff;   /* צבע מסגרת בעת פוקוס */
  box-shadow: 0 0 10px rgb(255, 255, 255); /* הילה עדינה */
}
.in2:focus {
  border: 0.9px solid #ffffff;   /* צבע מסגרת בעת פוקוס */
  box-shadow: 0 0 10px rgb(255, 255, 255); /* הילה עדינה */
}
.in1:focus::placeholder {
   
  color: #ffffff;  /* צבע אחר כשהשדה בפוקוס */
  opacity: 0.7;    /* אפשר להכהות או להבהיר */
  font-size: 14px; /* אפשר לשנות קצת את הגודל */
}
.in2:focus::placeholder {
  color: #ffffff;  /* צבע אחר כשהשדה בפוקוס */
  opacity: 0.7;    /* אפשר להכהות או להבהיר */
  font-size: 14px; /* אפשר לשנות קצת את הגודל */
}
.lab{
    width: 100%;
    color: white;
    font-size: 24px;
}
.btnLogin{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(64, 63, 63);
    color: white;
    cursor: pointer;
}
.btnLogin:hover{
    
    border: 0.1px solid white;
   
}