
*{
    box-sizing: border-box;
}



.navbar{
    width: 100%;
    display: flex;

    padding-left: 35px;
    background-color: rgb(87, 86, 86);
    border: none;
    border-top-left-radius: 8px;
     border-top-right-radius: 8px;
}
.link1{
    margin-left:30px ;
    text-decoration: none;
}
.line{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.container-nav{
    width: 800px;
    
}

@media (max-width: 768px) {

.line{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

}