.container-post{

     width: 100%;
     padding: 30px;
     border-radius: 8px;
     background-color: rgb(87, 86, 86);
     border: 1px solid white;
     margin-bottom: 10px;
     
}

.details{
    display: flex;
    
    justify-content: space-between;
    margin-top: -20px;
    color: rgb(162, 162, 162);
}

.thePostText{
   width: 90%;
    font-size: 18px;
     word-wrap: break-word; 
    word-break: break-word; 
}

